In [52]:
import pandas as pd
import json
import requests
import urllib
import pandas as pd
import numpy as np

data_litterature=pd.read_csv('data_litterature.csv')

Notre scrapper renvoie le premier résultat sur l'API Googlebook d'une recherche effectué avec le titre, le sous-titre et le nom de l'auteur du livre.

In [53]:
def get_description(search,nbsearch="4"):
    URL='https://www.googleapis.com/books/v1/volumes?q='
    #key = 'AIzaSyCp7lZSfzg16B5GI0HEsjb-gNac0EFSQFI'
    
    #resp = urllib.request.urlopen(URL+str(search)+'&maxResults='+nbsearch+'&key='+key).read()
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
    resp = requests.get(URL+str(search)+'&maxResults='+nbsearch,headers)
    #+'&key='+key

    title_search="0"
    subtitle_search="0"
    author_search="0"
    description_search="0"
    status_code=resp.status_code

    try:
        search_result=json.loads(resp.content)['items']
        del resp
        #Remove les volume qui n'ont pas d'author
        j=0
        for i in range(len(search_result)):
            if 'authors' not in search_result[i-j]['volumeInfo'].keys():
                search_result.remove(search_result[i-j])
                j+=1
        search_result=search_result[0]      
        title_search=search_result['volumeInfo']['title']
        author_search=search_result['volumeInfo']['authors'][0]          
        if 'subtitle' not in search_result['volumeInfo'].keys():
            subtitle_search=" "
        else:
            subtitle_search=search_result['volumeInfo']['subtitle']
        if 'description' not in search_result['volumeInfo'].keys():
            description_search=" "
        else:
            description_search=search_result['volumeInfo']['description']        
        del search_result

    except:
        pass            
    return [title_search+ subtitle_search, author_search, description_search]

In [49]:
Search_from_db=data_litterature["Titre"]+data_litterature["sstitre"]+data_litterature["Auteur"]

In [50]:
Bibli_db=pd.DataFrame()
Bibli_db["Titre & Sous-titre BIBLI"]=data_litterature["Titre"]+data_litterature["sstitre"]
Bibli_db["Auteur BIBLI"]=data_litterature["Auteur"]

In [51]:
import time
result=[]
for i in range(1000):
    a=get_description(Search_from_db[i])
    print(i,a)
    result.append(a)
    time.sleep(1)

0 ['Chanson douce ', 'Leïla Slimani', '"Louise ? Quelle chance vous avez d’être tombés sur elle. Elle a été comme une seconde mère pour mes garçons. Ça a été un vrai crève-cœur quand nous avons dû nous en séparer. Pour tout vous dire, à l’époque, j’ai même songé à faire un troisième enfant pour pouvoir la garder." Lorsque Myriam décide malgré les réticences de son mari de reprendre son activité au sein d’un cabinet d’avocats, le couple se met à la recherche d’une nounou. Après un casting sévère, ils engagent Louise et sont conquis par son aisance avec Mila et Adam, et par le soin bientôt indispensable qu’elle apporte à leur foyer, laissant progressivement s’installer le piège de la dépendance mutuelle. Prix Goncourt 2016 Grand Prix des Lectrices de "ELLE" 2017 Grand Prix des Lycéennes de "ELLE" 2017 Prix des Lecteurs Gallimard 2016']
1 ['Petit paysroman', 'Gaël Faye', "En 1992, Gabriel, dix ans, vit au Burundi avec son père français, entrepreneur, sa mère rwandaise et sa petite sœur, Ana, dans un confortable quartier d’expatriés. Gabriel passe le plus clair de son temps avec ses copains, une joyeuse bande occupée à faire les quatre cents coups. Un quotidien paisible, une enfance douce qui vont se disloquer en même temps que ce « petit pays » d’Afrique brutalement malmené par l’Histoire. Gabriel voit avec inquiétude ses parents se séparer, puis la guerre civile se profiler, suivie du drame rwandais. Le quartier est bouleversé. Par vagues successives, la violence l’envahit, l’imprègne, et tout bascule. Gabriel se croyait un enfant, il va se découvrir métis, Tutsi, Français... « J’ai écrit ce roman pour faire surgir un monde oublié, pour dire nos instants joyeux, discrets comme des filles de bonnes familles: le parfum de citronnelle dans les rues, les promenades le soir le long des bougainvilliers, les siestes l’après-midi derrière les moustiquaires trouées, les conversations futiles, assis sur un casier de bières, les termites les jours d’orages... J’ai écrit ce roman pour crier à l’univers que nous avons existé, avec nos vies simples, notre train-train, notre ennui, que nous avions des bonheurs qui ne cherchaient qu’à le rester avant d'être expédiés aux quatre coins du monde et de devenir une bande d’exilés, de réfugiés, d’immigrés, de migrants. » Avec un rare sens du romanesque, Gaël Faye évoque les tourments et les interrogations d’un enfant pris dans une Histoire qui le fait grandir plus vite que prévu. Nourri d’un drame que l’auteur connaît bien, un premier roman d’une ampleur exceptionnelle, parcouru d’ombres et de lumière, de tragique et d’humour, de personnages qui tentent de survivre à la tragédie."]

In [30]:
Google_db=pd.DataFrame(result, columns=["Titre & Sous-titre GB","Auteur GB","Summary"])

Ci-dessous nous avons aggrégé la description des ouvrages dans un dataset qui confronte les titres et auteurs provenant du dataset initial et ceux issus de la recherche. Nous devons nous assurer que le résultat de la recherche correspond bien à l'ouvrage recherché. Pour ce faire, nous allons calculé un score de similarité "search_confidence" de tel sorte que si ce dernier est inférieur à 0.5 la description trouvé ne sera pas conservée.

In [31]:
Matching_db = pd.concat([Bibli_db,Google_db], axis=1)

In [32]:
import textdistance
import re

def Matching(x,y):
    z=textdistance.jaccard(re.sub(r'[^\w\s]',' ',str(x)).split() , re.sub(r'[^\w\s]',' ',str(y)).split())
    return z

In [33]:
Matching_db["Matching1"]=Matching_db.apply(lambda x: Matching(x[0],x[2]), axis=1)
Matching_db["Matching2"]=Matching_db.apply(lambda x: Matching(x[1],x[3]), axis=1)
Matching_db["search_confidence"]=Matching_db["Matching1"]*3/4+Matching_db["Matching2"]/4
Matching_db.head()

,Titre & Sous-titre BIBLI,Auteur BIBLI,Titre & Sous-titre GB,Auteur GB,Summary,Matching1,Matching2,search_confidence
0,La montagne des boeufs sauvages,Pierre Pelot,La montagne des boeufs sauvages,Pierre Pelot,"""Je suis né, dans cette vallée de la ""montagne...",1.0,1.0,1.0
1,Fous de foot,Fanny Joly,Fous de foot,Fanny Joly,"Moi, le football, c'est ma passion, J'en suis ...",1.0,1.0,1.0
2,Un amour aussi grand que le désert de Gobi vu ...,Tilman Rammstedt,NaN,NaN,NaN,0.0,0.0,0.0
3,Une amie d'enfer,Jacqueline Wilson,NaN,NaN,NaN,0.0,0.0,0.0
4,La famille Kocourek déménage,Iva Procházková,NaN,NaN,NaN,0.0,0.0,0.0

In [34]:
nbres=len(Matching_db[Matching_db["search_confidence"]>0.5])
print("Nous avons réussi à collecter {} descriptions fiables provenant de Googlebook".format(nbres))

Nous avons réussi à collecter 2 descriptions fiables provenant de Googlebook

In [23]:
Matching_db["Description"]=Matching_db[["Description","search_confidence"]].apply(lambda x: x[0] if x[1]>0.5 else " ", axis=1)
Description_db=Matching_db["Description"]

Ci-dessous le deuxième dataset que nous allons pouvoir importer dans Neo4J:

In [24]:
Googlebook_db = pd.concat([data_litterature['Titre'],Description_db], axis=1).rename(columns={"Description":"Summary"})
Googlebook_db.head()

,Titre,Description
0,La montagne des boeufs sauvages,"""Je suis né, dans cette vallée de la ""montagne..."
1,Fous de foot,"Moi, le football, c'est ma passion, J'en suis ..."
2,Un amour aussi grand que le désert de Gobi vu ...,Keith est né dans une famille tout à fait sing...
3,Une amie d'enfer,Mandy a des nattes roses et des robes à volant...
4,La famille Kocourek déménage,

In [41]:
Googlebook_db.to_csv(r'C:\Users\bigdata\Neo4J-Project\data\Googlebook_db.csv')
Googlebook_db.to_csv(r'C:\Users\bigdata\_Projet Neo4J\neo4jDatabases\database-023b31e9-ce5e-4e4c-9c1f-7b3b841da092\installation-3.5.6\import\Googlebook_db.csv',encoding="UTF-8")